<div class="section section-grey" style="margin-bottom:100px;">
    <div class="container" style="margin-top:50px;">
        <div class="row">
            <div class="col-md-9">
                <div class="section-title">
                    <h4 class="title">İletişim</h4>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-5">
                        <hr>
                        <p>
                            Manager :Salih Kırer
                            <hr> Telefon : 1111111111
                            <hr> Mail : s@outlook.com
                            <hr>
                        </p>
                    </div>
                    <div class="col-md-7">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6381.791941197001!2d30.63414624321484!3d36.892836863909274!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x436619304503870a!2sKYK+Muratpa%C5%9Fa+Erkek+%C3%96%C4%9Frenci+Yurdu!5e0!3m2!1str!2str!4v1511290252079"
                                width="430" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>